<div class = "section clear-padding">
    <div class = "container">
        <div class = "row main-jumbotron">
            <div class="class col-lg-7">
                <img class = "center-block main-img" src="/core/images/logo-sol.jpg" alt="">
            </div>
            <div class="col-lg-3 main-panel">
                <h1>Subastas Online</h1>
                <a href="#/subastas/crear"><button class="btn btn-primary center-block"><h4>Organiza una subasta</h4></button></a>
            </div>
        </div>
    </div>
</div>
